#reproductor{
width: 720px;
margin: 20px 100px;
padding: 5px;
background: #999999;
border: 1px solid #666666;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
} 
/*
nav{
margin: 5px 0px;
}*/

#botones{
float: left;
width: 100px;
height: 25px;
}
#reproducir{
    height: 25px;
    width: 85px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}

#barra{
position: relative;
float: left;
width: 600px;
height: 16px;
padding: 2px;
border: 1px solid #CCCCCC;
background: #EEEEEE;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
} 

#progreso{
position: absolute;
width: 0px;
height: 16px;
background: rgba(0,0,150,.2);
}
